<!DOCTYPE html>
<html style="background-color:#f5f5f5;">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/materialize/materialize.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/master.css">
	{{{isAdminEditorCSS user}}}

</head>

<body>

	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper orange darken-3">
				<a href="#" class="brand-logo" style="margin-left:10px;">A.Bosley</a>
				<ul class="right hide-on-med-and-down">
					{{# each navLinks}}
						<li {{#ifeq ../section key}} class="active" {{else}} {{/ifeq}}>
							<a href="{{ href }}">{{ label }}</a>
						</li>
						{{/each}}
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</nav>
	</div>

	<ul class="side-nav" id="nav-mobile">
		{{# each navLinks}}
			<li {{#ifeq ../section key}} {{else}} {{/ifeq}}>
				<a href="{{ href }}">{{ label }}</a>
			</li>
			{{/each}}
	</ul>

	<div id="body">
		<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
		{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
					<div class="alert alert-info">
						{{{flashMessages messages.info}}}
					</div>
				{{/if}}
				{{#if messages.success}}
					<div class="alert alert-success">
						{{{flashMessages messages.success}}}
					</div>
				{{/if}}
				{{#if messages.warning}}
					<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
					</div>
				{{/if}}
				{{#if messages.error}}
					<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
					</div>
				{{/if}}
			</div>
		{{/if}}
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
	</div>

	{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}

	<script src="/js/jquery/jquery-1.11.3.js"></script>

	<!-- materialize.js and the initializers -->
	<script src="/js/materialize/materialize.js"></script>
	<script type="text/javascript">
		$(".button-collapse").sideNav();

		$('.carousel.carousel-slider').carousel({
			fullWidth: true,
			indicators: true,
		});
		$('.carousel').carousel();
		setInterval(function() {
			$('.carousel').carousel('next');
		}, 4000); // every 2 seconds
		$(document).ready(function() {
			$('.sidenav').sidenav();
		});
	</script>
	{{{isAdminEditorJS user}}}
	<!--	<footer>
		<div class="center grey-text text-darken-4">
			<div class="col blue s12 m12 l12 white-text">
				<ul id="line-me-up">
					<li><a href="./contact">Contact Me</a></li>
					<li> <a href="./projects">Projects</a> </li>
					<li> <a href="./blog">Blog</a></li>
					<li> <a href="./gallery">Gallery</a> </li>
				</ul>
			</div>
		</div>
	</footer> -->
</body>
<style media="screen">
	#line-me-up li {
		display: inline;
		margin-left: 5%;
		margin-right: 5%;
		padding: 1%;
		font-size: 1.75em;
	}

	#line-me-up li a {
		color: #e0e0e0;
	}
</style>

</html>
